In [3]:
from pydong import *

In [7]:
import pydong

In [4]:
pydong.__version__

'0.1.2'

In [14]:
@try_except
def divide(a, b):
    return a/b

In [37]:
from pydong import *
import pandas as pd
d = {'col1': [1000, 2123], 'col2': [3.13454334, 40234.12345]}
df = pd.DataFrame(data=d)
df

   col1          col2
0  1000      3.134543
1  2123  40234.123450

In [33]:
format_df(df)

    col1         col2
0  1,000       3.1345
1  2,123  40,234.1234